body {
  background-image: url(../public/logo19.png);
  background-position-x: 400px;

  /* background-color: rgba(0, 5, 56); */
}

.card {
  text-align: center;
  background-color: black;
  width: 500px;
  margin-top: 40px;
  border-radius: 3% 3% 3% 3%;
  border: 1px solid white;
}
